:root{
  --orange: #FF9F1C;
  --red: #E71D36;
  --blue: #2EC4B6;
  --paleblue: #80A1C1;
  --green: #3D7A3B;
  --WhiteCream: #d8d8d8;
  --darkgrey: #252323;
  --dark: #011627;
  --light: #ACBDBA;
  --boxborder: 5px;
  --ballborder: 0px;
}

body {
  font-family: 'Oxygen', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 0.8em;
  color: var(--dark);
  background-color: var(--WhiteCream);
  text-align: center;
}

a {
  color: var(--dark);
}

svg:hover {
  background-color: var(--light);
}

h3:hover {
  background-color: var(--light);
}

li img:hover {
  border-color: var(--light);
}

canvas {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 75px;
}

.anarchy {
  position: absolute;
  display: block;
  visibility: hidden;
}

img {
  width: 200px;
  height: 200px;
  display: block;
  --mask: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M199.178 99.589C199.178 165.982 165.982 199.179 99.5893 199.179C33.1963 199.179 0 165.982 0 99.589C0 33.1964 33.1963 0 99.5893 0C165.982 0 199.178 33.1964 199.178 99.589Z' fill='black'/%3E%3C/svg%3E") 0 0 / 100% 100% no-repeat;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  border: var(--ballborder) solid var(--red); 
}

.photo img {
  width: 120px;
  height: 120px;
  border: var(--ballborder) solid var(--orange); 
}

#intro {
  background-color: var(--orange);
  font-size: 18px;
  width: 180px;
  padding: 10px;
  font-family: 'Oxygen', 'Segoe UI', sans-serif;
  font-size: 22px;
  border-radius: 75px; 
  border: var(--boxborder) solid var(--dark); 
}

h1 {
  width: 850px;
  height: 110px;
  padding-top: 10px;
  font-family: 'Oxygen', 'Segoe UI', sans-serif;
  font-size: 70px;
  background-color: var(--orange);
  border: var(--boxborder) solid var(--dark);
  border-radius: 55px; /* Adjust the radius as per your preference */
}


h2 {
  width: 400px;
  height: 90;
  padding-top: 00px;
  font-family: 'Oxygen', 'Segoe UI', sans-serif;
  font-size: 40px;
  background-color: var(--orange);
  border: var(--boxborder) solid var(--dark); 
  border-radius: 75px; 
}

h3 {
  width: 220px;
  padding-top: -10px;
  font-family: 'Oxygen', 'Segoe UI', sans-serif;
  font-size: 50px;
  background-color: var(--blue);
  border: var(--boxborder) solid var(--dark); 
  border-radius: 75px; 
}

.smaller {
  width: 240px;
}

svg {
  fill: var(--green);
  background-color: var(--dark);
  padding-top: -10px;
  display: block;
  position: sticky;
  border-radius: 100%; 
}

li > div {
  background-color: var(--green);
  display: none;
  width: 340px;
  padding: 25px;
  font-family: 'Oxygen', 'Segoe UI', sans-serif;
  font-size: 20px;
  border-radius: 65px; 
  border: var(--boxborder) solid var(--darkgrey); 
}

p {
  margin-bottom: 10px;
}

/* Additional CSS for circular video element */
.mirror-ball {
  position: absolute;
  overflow: hidden;
  border-radius: 50%; /* This creates a circular shape */
}

.mirror-video {
  width: 100%; /* Adjust to fit within the circular container */
  height: 100%; /* Adjust to fit within the circular container */
  object-fit: cover; /* Ensures the video covers the entire circular area */
}
